.blog-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.blog-title a {
  color: white;
  text-decoration: none;
}

.navbar-links a {
  color: #e3eaf3;
  padding: 14px 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover,
.navbar-links a:focus {
  color: white;
}

.content h2 {
  margin-top: 0;
  font-size: 2.0em;
  color: #5f99d6;
}

.content-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 20px;
}

.card {
  border: 1px solid #a3bcd8;
  text-align: center;
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.card-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card h3 {
  margin: 20px 5px;
  color: #5f99d6;
}

.card p {
  margin: 10px 10px 20px;
  color: #617d98;
}

.card button {
  padding: 10px 20px;
  background-color: #5f99d6;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 50px 20px;
}

.card button:hover {
  background-color: #7daed9;
}

.card-image {
  background-image: url('/assets/img/car.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.newsletter-form h3 {
  margin-bottom: 15px;
  margin-top: 0;
  color: #5f99d6;
}

.newsletter-form input[type="email"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #a3bcd8;
  border-radius: 4px;
  width: 250px;
}

.newsletter-form button {
  padding: 10px 20px;
  background-color: #5f99d6;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #7daed9;
}

@media (max-width: 768px) {
  .content-cards {
    grid-template-columns: 1fr;
  }

  .card {
    max-width: none;
    width: 450px;
  }

  .content h2 {
    margin-top: 10px;
    margin-left: 5px;
  }
}

@media (max-width: 480px) {
  .navbar-links a {
    padding: 10px 15px;
  }

  .blog-title {
    font-size: 20px;
  }
}